body {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/codedex-io.appspot.com/o/buildAssets%2F755rPO8uKzIi38SITpps%2Fbackground.jpg?alt=media&token=2e255a0f-c41e-403c-9bab-b5df3f5e018d);
    background-repeat: repeat;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    cursor: pointer;
  }
  
  nav {
    background-color: #99FFCC;
  }
  
  nav ul {
    list-style: none;
    padding: 10px;
  }
  
  nav a {
    color: #CC00CC;
  }
  
  nav a:hover {
    color: #330033;
  }
  
  nav li {
    display: inline;
    margin: 15px;
  }
  
  h1 {
    background-color: #99FFCC;
    color: #CC3333;
    font-size: 70px;
  }

  h2{
    font-family: 'Times New Roman', Times, serif;
    color: #000066;
    align-content: center;
    font-size: 35px;
  }
  
  table {
    margin: auto;
    border: solid 15px;
    border-collapse: collapse;
    border-color: #330000;
    background-color: #ffffcc;
  }
  
  th, td {
    border-bottom: thick solid;
    border-color: #330000;
    text-align: center;
  }

  a{
    color: #CC3333;
  }

  a:hover{
    color: #330000;
  }

  .games{
    background-color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    color: #0000CC;
    text-align: left;
    padding-left: 500px;
  }

  .carcassonne{
    font-family: 'Times New Roman', Times, serif;
    color: #0000CC;
    text-align: left;
    cursor: wait;
    padding-left: 450px;
  }

  .biome{
    background-color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    color: #0000CC;
    text-align: left;
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 300px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .checked{
    color: #FFFF33;
  }

  img:hover{
    cursor: help;
  }